/*крутящийся круг*/
@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle-text {
  transform: translate(-50%, -50%);
  animation: rotateCircle 24s linear infinite;
  transform-origin: center center;
}

/*бегущая розовая строка*/
@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/*бегущая  вторая строка*/
@keyframes marquee2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
